:root {
  --cover-bg: rgba(255, 255, 255, 0.8);
  --page-bg: #a0bded;
  --sub-header-bg: #6575a2;
  --card-bg: #f3f3f3;

  --box-shadows: 5px 5px 0 var(--yellow-accent);

  --big-header-colour: #303030;
  --sub-header-colour: #ffffff;

  --text-colour: #303030;
  --yellow-accent: #ffc300;
  --neutral-temperature: rgb(231, 235, 0);

  --low-temp: rgb(123, 202, 255);
  --high-temp: rgb(255, 93, 93);
}

/* Light mode manual switch */
.light-mode {
  --cover-bg: rgba(255, 255, 255, 0.8);
  --page-bg: #a0bded;
  --sub-header-bg: #6575a2;
  --card-bg: #f3f3f3;

  --box-shadows: 5px 5px 0 var(--yellow-accent);

  --big-header-colour: #303030;
  --sub-header-colour: #ffffff;

  --text-colour: #303030;
  --yellow-accent: #ffc300;
  --neutral-temperature: rgb(231, 235, 0);

  --low-temp: rgb(123, 202, 255);
  --high-temp: rgb(255, 93, 93);
}

/* Dark mode system check */
@media (prefers-color-scheme: dark) {
  :root {
    --cover-bg: rgba(97, 97, 97, 0.8);
    --page-bg: #6575a2;
    --card-bg: rgba(63, 61, 61, 0.596);
    --sub-header-bg: #a0bded;

    --box-shadows: 5px 5px 0px 0 #ffc300;

    --big-header-colour: #ffffff;
    --sub-header-colour: #ffffff;

    --text-colour: #ffffff;

    --low-temp: rgb(74, 181, 189);
    --high-temp: rgb(235, 99, 99);

    color: #ffffff;
  }
}

/* Dark mode manual switch*/
.dark-mode {
  --cover-bg: rgba(97, 97, 97, 0.8);
  --page-bg: #6575a2;
  --card-bg: rgba(63, 61, 61, 0.596);
  --sub-header-bg: #a0bded;

  --box-shadows: 5px 5px 0px 0 #ffc300;

  --big-header-colour: #ffffff;
  --sub-header-colour: #ffffff;

  --text-colour: #ffffff;

  --low-temp: rgb(74, 181, 189);
  --high-temp: rgb(235, 99, 99);

  color: #ffffff;
}


