body {
  width: 100vw;
  height: 100vh;

  background-color: var(--page-bg);
  color: var(--text-colour);

  font-size: 25px;
  font-family: 'Roboto', courier;

  display: grid;
  grid-template-rows: 1fr 1.4fr 25px;
  grid-template-areas:
    'current search search'
    'forecast forecast forecast'
    'footer footer footer';
}

* {
  transition: background 0.3s ease;
}

h2,
h3 {
  color: var(--small-header-colour);
}

h1 {
  color: var(--big-header-colour);
}

.divider {
  opacity: 0.5;
}

.accent-text {
  color: var(--neutral-temperature);
  font-weight: 600;
}

/* layer to cover while loading */
.cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--cover-bg);
  backdrop-filter: blur(5px);
  z-index: 999;

  transition: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes hideCover {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

.cover .search {
  background-color: var(--sub-header-bg);

  min-width: 200px;
  width: fit-content;
  padding: 10px 10px;
  height: 60px;

  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.search button {
  background-color: transparent;
  border: none;
}

.cover input {
  background-color: transparent;
  border: none;

  width: fit-content;
  height: 100%;

  font-size: 2em;
  color: #fff;
}
.cover input:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.cover svg {
  width: 30px;
  height: 30px;

  justify-self: flex-end;
  cursor: pointer;
  color: #fff;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* TOP HALF */
.current {
  grid-area: current;
  place-self: center;

  padding: 0px 25px 20px 25px;
  gap: 5px;
  background-color: var(--card-bg);
  box-shadow: var(--box-shadows);
  border-radius: 5px;

  height: 150px;
  min-width: 300px;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;

  place-items: center;
}

.free-text {
  place-self: end;
  font-weight: 600;
}

.current .weather-image {
  width: 50px;
  height: 50px;
}

.current .weather {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.current .weather p {
  margin: 0;
}



/* BOTTOM HALF */

.forecast {
  grid-area: forecast;
  place-self: start center;

  margin: 0 50px;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
  align-items: start;
}

.day-container {
  width: clamp(300px, 30%, 400px);
  border-radius: 5px;
  padding-bottom: 10px;

  background-color: var(--card-bg);
  box-shadow: var(--box-shadows);

  font-size: 22px;
}
.day-container h3 {
  padding: 20px;

  background-color: var(--sub-header-bg);
  border-radius: 5px 5px 0 0;
  color: var(--sub-header-colour);
}

.forecast-info {
  display: flex;
  justify-content: center;
  align-items: center;

  height: fit-content;
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 0;
}
.forecast-info .weather-image {
  width: 40px;
  height: 40px;

  margin-right: 4px;
}

.day-temperatures {
  margin: 0;
  font-weight: 600;
}
.min {
  color: var(--low-temp);
}
.max {
  color: var(--high-temp);
}

/* Morning, Afternoon, Evening styles */
.small {
  font-size: 0.8em; /* Make text smaller than daily forecast */
}
.small .weather-image {
  width: 30px;
  height: 30px;
}

.day-container h5 {
  margin-top: 25px;
}
.day-container h5:first-of-type {
  border-top: 2px solid var(--yellow-accent);
  padding-top: 16px;
  margin-top: 15px;
}

.last {
  margin-bottom: 15px;
  padding-bottom: 16px;

  border-bottom: 2px solid var(--yellow-accent);
}

/* --------- FOOTER -------------------------- */

.footer {
  grid-area: footer;
  bottom: 20;

  color: #000;
  font-weight: 500;

  background-color: #fff;
  border-top: 2px solid black;
  width: 100%;

  display: grid;
  place-content: center;

  font-size: 16px;
}

.footer a {
  color: rgb(52, 133, 136);
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}


@media screen and (max-width: 1050px) {
  .forecast {
    flex-wrap: wrap;
    gap: 25px;

    justify-content: center;
    align-items: center;

    margin: 25px 10px;
  }

  .current {
    margin-top: 25px;
    margin-left: 15px;
  }
  .instructions {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  
}